html * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #4f6d7a;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #c0d6df;
}

h1 {
    padding: 10px;
    font-size: 35px;
    font-style: italic;
} 

nav {
    padding: 5px;
    text-align: right;
}

nav a {
    padding: 0px 10px;
    color: aquamarine;
    text-decoration: underline;
}

a:hover {
    color: red;
}

main {
    max-width: 796px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    margin: 15px 0px 0px;
}

#about img {
    max-width: 200px;
}

h2 {
    margin: 40px 0px 0px;
}

#work div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    width: calc(50% - 20px);
    padding: 10px;
}

article:first-of-type {
    width: 100%;
}

footer {
    text-align: center;
}

footer h2 {
   text-align: center;
   padding-bottom: 15px;
}

footer a {
    padding: 5px;
}

@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
        text-align: center;
    } 
    nav {
        text-align: center;
    }      
    article {
        width: 100%;
    }
}
